/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto+Slab:400,700&display=swap&subset=cyrillic');

.ql-font-serif {
    font-family: 'Roboto Slab', serif;
}
.ql-font-monospace {
    font-family: 'Roboto Mono', monospace;
}
.ql-size-small {
    font-size: 0.75em;
}
.ql-size-large {
    font-size: 1.5em;
}
.ql-size-huge {
    font-size: 2.5em;
}

/*/FONTS*/
/*BLOCKQUOTE*/
blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}
/*/BLOCKQUOTE*/
/*CODE*/
pre {
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
}
pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
}
pre.ql-syntax span {
    font-family: 'Roboto Mono', monospace;
}
/*/CODE*/